.formcontrols{
    padding-top:1px;
    padding-bottom: 10px;
}

.qty{
    text-decoration: none;
    width:25px;
    height:25px;
    font-size: 90%;
    text-align: center;
    border:1px solid rgb(77, 77, 77);
    resize: none;
    padding:0px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 5px;
    margin-left:15px;
}

.minus, .plus{
    width:40px;
    height:40px;
    font-size: 100%;
    text-align: center;
    border:1px solid rgb(77, 77, 77);
    background-color: rgb(204, 204, 204);
    padding:0px;
    margin:10px 2px;
}

.minus:hover,
.plus:hover {
    background-color: rgb(187, 187, 187);
}

.button{
    font-size:90%;
    font:bold;
    margin-top: 10px;
    margin-left: 20px;
    padding:5px 30px;
    color:lightgrey;
    background-color: rgb(99, 4, 4);
    border-radius:30px;
}

.button:hover {
    background-color: rgb(65, 4, 4);
}

@media only screen and (min-width: 768px) { 
    .formcontrols{
        padding-top:1px;
        padding-bottom: 10px;
    }
    
    .qty{
        text-decoration: none;
        width:40px;
        height:30px;
        font-size: 100%;
        text-align: right;
        border:1px solid rgb(77, 77, 77);
        resize: none;
        padding:0px;
        margin-top:10px;
        margin-bottom:10px;
        margin-right: 10px;
        margin-left:0px;
    }
    
    .minus, .plus{
        width:40px;
        height:40px;
        font-size: 100%;
        text-align: center;
        border:1px solid rgb(77, 77, 77);
        background-color: rgb(204, 204, 204);
        padding:0px;
        margin:10px 2px;
    }
    
    .minus:hover,
    .plus:hover {
        background-color: rgb(187, 187, 187);
    }
    
    .button{
        font-size:110%;
        font:bold;
        margin-top: 10px;
        margin-left: 20px;
        padding:6px 40px;
        color:lightgrey;
        background-color: rgb(99, 4, 4);
        border-radius:30px;
    }
    
    .button:hover {
        background-color: rgb(65, 4, 4);
    }

}