.section{
    width:50%;
    background-color:none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color:rgb(14, 13, 13);
    margin-top:auto;
    margin-bottom:60px;
    position:absolute;
    top:65%;
    left:50%;
    transform: translateX(-50%);    
    padding-bottom:50px;
}

.section h1{    
    text-align: center;
    margin:auto auto;
    padding:25px;
    border-radius: 25px;    
    background-color: rgb(202, 97, 11);
}

.section ul{
    margin-top:0px;
    margin-left: 0px;
    margin-bottom: 40px;
    padding:40px 0px;      
}

.items{
    position:relative;
    margin:0px;    
    padding:0px 30px;
    border-bottom: 0.25px solid rgb(102, 102, 102);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(241, 241, 241);
    border-radius:15px ;
}

.items li{
    list-style: none;    
    font-size: 125%;  
    padding: 10px 45px;      
}

.items .itemname{
    padding-top:50px;
    font-weight: bold;
    display:inline;
}

.items li h3 {
    display:inline;
    margin: 0px;
    padding: 20px 0px;
}


.itemprice{
    font-weight: bold;
    float:right;
}

